@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row ">
            <h1>Amateur Radio Callsign Lookup</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
