.container {
    display: grid;
    grid-template-columns: minmax(200px, 30%) 1fr;
    grid-gap: 10px;
    width: 100%;
    min-height: 500px;
    padding: 10px; 

}
.call-input {
    margin: 15px;
}
.paper-margin {
    padding: 15px;
}
.notes-input {
    margin: 15px;
}
.first-column {
    overflow: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.second-column {
    overflow: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 10px;
}

.justify-space-between {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-between;
}